server {

  <% if @listen %>listen <%= @listen %>;<% end %>
  <% if @servername -%>servername <%= @servername %>;<% end %>
  <% if @root_path %>root <%= @root_path %>;<% end %>
  return 301  https://$servername$request_uri;

}

server {
  <% if @listen_https %>listen <%= @listen_https %>;<% end %>
  <% if @servername -%>servername <%= @servername %>;<% end %>
  <% if @root_path %>root <%= @root_path %>;<% end %>
  <% if @index_files %>index <% @index_files.each do |f|-%><%=f-%>
  <% end %>
  <% if @ssl %>ssl on;<% end %>
  <%if @ssl_cert_path %>ssl_certificate <%= @ssl_cert_path %>;<% end %>
  <%if @ssl_key_path %>ssl_certificate_key <%= @ssl_key_path %>;<% end %>
  <% end %>
  <% if @fastcgi_on %>
  location ~ \.php$ {
    include /etc/nginx/conf.d/<%=@fastcgi_php70_file %>
  }<% end -%>

  <% if @locations_file %>
  include /etc/nginx/conf.d/<%=@locations_file %><% end -%>
  <%- if @error_pages %>
  include /etc/nginx/conf.d/<%=@error_pages %><% end %>
}
